body {
        		font-family: 'Comic Sans MS';
        		font-size: 20px;
        		color:#ffffff;
        		background-color:#0086A3;
        		width: 560px; margin: 0 auto; 
      			}

      			a:link {
      				color: #ffffff;
      				font-weight: bold;
      				text-decoration:none;
      			}
      			a:visited {
      				color: #ffffff;
      				font-weight: bold;
      				text-decoration:none;
      			}
      			a:hover {
      				color: #ffffff;
      				font-weight: bold;
      				text-decoration: underline;
					}
other nice background colours:
3ea5CE
1abc9c
0086A3
